body {
  font-size: 30px;
}
#navBar {
  border: 4px solid black;
  height: 30vh;
}

.Content {
  border: 4px solid red;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Content div{
  border-width: 4px;
  border-style: solid;
  height: 70vh;
}

.Left{
  border-color: #adf442;
  display: flex;
  flex: 1;
}
.Center{
  border-color: blue;
  display: flex;
  flex: 3;
}
.Right{
  border-color: yellow;
  display: flex;
  flex: 1;
}

